<div class="container-fluid mt-5">
  <div class="row">
    <div class="h6 text-center text-secondary">POPULAR PRODUCTS</div>
    <div class="h1 text-center">Trending Now</div>
  </div>
  <div class="row mt-5">
    <div *ngFor="let item of popularItems" class="col-3">
      <div class="card border border-0" style="width: 18rem; ">
        <a routerLink="/item/{{item.itemId}}"
                        ><img
                    src="{{img_path}}{{item.category}}/{{item.brands['name']}}_{{item.category}}_{{item.name}}.png"
                    class="card-img-top img"
                    alt='{{item.category}}_{{item.name}}' style="height: 300px;"/></a>
          <div class="card-body">
            <h5 class="card-title">{{item.category}}</h5>
            <p>{{item.brands['name']}}_{{item.name}}</p>
            <p>Price:{{item.price}}</p>
            <!-- <a routerLink="/item/{{item.itemId}}"
                class="btn btn-secondary">view product</a> -->
        </div>
      </div>
    </div>
  </div>